*{
  font-family: arial
}


.grid-container{
  display: grid;
  grid-gap: 20px 30px;
  align-content: space-around;
}

  .about{
   grid-row: 1 / 2;
   grid-column: 1/4;
  }

  .derek-profile{
  grid-column:1/2;
  grid-row: 2/4;
  background-color: #1b447f;
  padding-left: 10px;
  align-items: center;

  }


  .amy-profile{
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .nathan-profile{
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: #1b447f;
    padding-left: 10px;
  }

  .a101{
  grid-column: 1/2;
  }
  .a102{
  grid-column: 2/3;
  }
  .a103{
  grid-column: 3/4;
  }

header{
 display: flex;
  background-color: #03a3df;
  align-content: space-around;
  align-items: center;

}

footer{
  background-image:url(images/footer-image.jpg);
  height: 300px;
}


 h1{
   font-size: 40px;
  font-weight: bold;
 }
 h2{
   font-size: 24px;
   font-weight: bold;
 }

 .logo{
   padding: 15px;

 }
.links{
  padding: 15px
}
